{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/select-topic.css' %}">
{% endblock %}

{% block content %}
    <h1>Select a topic to take the quiz</h1>
    <form method="GET" action="{% url 'quiz:take_quiz' %}">
        {% csrf_token %}
        <label for="topic">Topic:</label>
        <select name="topic" id="topic">
            {% for topic in topics %}
                <option value="{{ topic.id }}">{{ topic.topic_name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Start Quiz</button>
    </form>
{% endblock %}
